@charset "utf-8";
:root {
    --color1: #ccccff66;
    --color2: #6495ED66;
    --color3: #40e0d866;
    --color4: #9fe2bf66;
    --color5: #de316366;
    --color6: #ff7f5066;
    --color7: #ffbf0066;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}