@charset "utf-8";
:root {
    --color1: #ccccff;
    --color2: #6495ED;
    --color3: #40e0d8;
    --color4: #9fe2bf;
    --color5: #de3163;
    --color6: #ff7f50;
    --color7: #ffbf00;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}