@charset "utf-8";
:root {
    --color1: #ccccff55;
    --color2: #6495ED55;
    --color3: #40e0d855;
    --color4: #9fe2bf55;
    --color5: #de316355;
    --color6: #ff7f5055;
    --color7: #ffbf0055;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}