@import "index.css";

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    /*background-color: #111;*/
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*position: relative;*/
}

.wrapper svg{
    /*background-color: var(--color7);*/
}

.wrapper svg line{
    animation: 3s line-stroke linear infinite;
}

@keyframes line-stroke{
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 200;
    }
}

.wrapper svg circle{
    animation: circle-stroke 3s  linear infinite;
    /*circle 원점을 기준으로 잡겠다.*/
    transform-box : fill-box;
    /*circle 원점 센터를 기준으로 돌겠다.*/
    transform-origin: center;
}

@keyframes circle-stroke {
    100%{
        transform: rotate(360deg);
        /*stroke-dashoffset: 300;*/
    }
}

/*svgHeart*/

.wrapper .heart-svg{
    stroke: var(--color5);
    fill: var(--color1);
    stroke-dasharray: 54;
    stroke-dashoffset: 54;
}

.wrapper svg path{
    stroke-width: 1;
}

.like{
    animation: like 3s ease forwards,
    heartbeat 0.5s linear 2s 2 forwards;
}

.unlike{
    animation: unlike 3s ease forwards;
}

@keyframes like {
    0%{
        stroke-dashoffset: 54;
        stroke: var(--color5);
        fill: var(--color1);
    }
    75%{
        stroke-dashoffset: 0;
        stroke: var(--color5);
        fill: var(--color1);
    }
    100%{
        stroke-dashoffset: 0;
        stroke: var(--color2);
    }
}

@keyframes unlike {
    0%{
        stroke-dashoffset: 0;
        stroke: var(--color2);
        fill: var(--color1);
    }
    75%{
        stroke-dashoffset: 54;
        stroke: var(--color2);
        fill: var(--color1);
    }
    100%{
        stroke-dashoffset: 54;
        stroke: var(--color5);
    }
}

@keyframes heartbeat {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}