*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #20B2AA;
}

@media (max-width: 639.5px) {
    body{
        background-color: #FFA07A;
    }
}
@media (min-width: 1025px) {
    body{
        background-color: #87CEFA;
    }
}